.top-menu{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
.item-menu{
    display: flex;
    justify-content: center;
    min-width: 300px;
    padding: 1%;
    border-radius: 6px;
    border: 1px solid #000;
    font-size: 1.1rem;
    margin: 1% auto;
}
.item-menu:hover{
    box-shadow: 0px 0px 8px 0px rgb(26 26 26);
}
.addFormClient{
    display: none;
    flex-direction: column;
    justify-content: start;
}
.addFormClient input{
    width: 400px;
    margin: .8rem 0;
}
/* Windows Phone Viewport Fix */
@-ms-viewport { 
    width: device-width; 
}