.top-menu{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
.item-menu{
    display: flex;
    justify-content: center;
    min-width: 300px;
    padding: 1%;
    border-radius: 6px;
    border: 1px solid #000;
    font-size: 1.1rem;
    margin: 1% auto;
}
.item-menu:hover{
    box-shadow: 0px 0px 8px 0px rgb(26 26 26);
}
.bold{
    font-weight: bold;
}
.addFormClient{
    display: none;
    flex-direction: column;
    justify-content: center;
    border: 1px solid;
    width: 85%;
    margin: 1em auto;
    padding: 1%;
}
.addFormClient input, .addFormClient select{
    width: 88%;
    margin: .8rem auto;
    display: block;
}
.clients-narciss{
    display: flex;
    flex-direction: row;
}
.tableCLIENTS{
    border: 1px solid #000;
    border-bottom: none;
    width: 100%;
    background: #eeeeee;
    text-align: center;
}

.tableCLIENTS th:not(:last-child), .tableCLIENTS td:not(:last-child){
    border-right: 1px solid #000;
}
.brd_bottom{
    border-bottom: 1px solid #000;
    padding: 0.7em;
    font-size: 1.2em;
}
.center{
    text-align: center;
}
/* Windows Phone Viewport Fix */
@-ms-viewport {
    width: device-width;
}